:root {
    --val: calc(2%);
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    padding: 0;
}

.grower {
    justify-content: center;
    height: 200px;
    width: 100px;
    background-color: #c02e1d;
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow {
    0% {height: 0px;}
    100% {height:200px;}
}

@keyframes grow3 {
    0% {height: .25vw;}
    25% {height: 3vw;}
    50% {height: .25vw;}
    75% {height: 1.5vw;}
    100% {height: .25vw;}
}

@keyframes grow2 {
    0% {height: 2vw;}
    25% {height: .25vw;}
    50% {height: 4vw;}
    75% {height: .25vw;}
    100% {height: 2vw;}
}

html{  
	width: 100%;
	height: 100%;
	background-color: var(--light);
}

body {overflow-y: hidden;}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1vw;
    grid-template-areas:
        ". logo logo logo logo ."
        ". td tw cat pwa clip"
        ". component component component component pic"
        ". . . . close ."

}
.logo {
    background: linear-gradient(#ed5128, #ce655f);
    height: 15vw;
    width: 100%;
    box-shadow: var(--shadow);
    grid-area: logo;
}

.b {
	height: 100%;
    width: 100%;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}

.b li{
	position: absolute;
	display: grid;
	background: transparent;
	border: 1vw solid rgba(23,246,251, 1.0);
	border-radius: 500px;
    /*transition: all 0.5s ease;*/
    margin-left:0;
}

.b li:first-child {
	margin-left: 5vw;
	margin-top: 4vw;
	width: 7vw;
	height: 7vw;
	border-color: #1395ba;
	border-right-color: transparent;
	animation: spin 4s infinite linear;
}

.b li:nth-child(2) {
	margin-left: 6vw;
	margin-top: 5vw;
	width: 5vw;
	height: 5vw;
	border-color: #aaa;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: spin7 2s infinite linear;
}

.b li:nth-child(3) {
	margin-left: 7vw;
	margin-top: 6vw;
	width: 3vw;
	height: 3vw;
	border-color: #0d3c55;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin8 2s infinite linear;
}

.b li:nth-child(4) {
    margin-left: 5vw;
    margin-top: 1vw;
    width: 1vw;
    height: 30vw;
    border: none;
    background-color: rgba(23,246,251, 1.0);
    animation: grow2 2s infinite linear;
}

.b li:nth-child(5) {
    margin-left: 6.5vw;
    margin-top: 1vw;
    width: 1vw;
    height: 12vw;
    border: none;
    background-color: rgba(23,246,251, 1.0);
    animation: grow3 2s infinite linear;
}

.b .rian {
    border: none;
    margin-left: 14vw;
    margin-top: 1vw;
    font-size: 13vw;
}

button {
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1vw;
    border: none;
    box-shadow: var(--shadow);
}
#td {
    grid-area: td;
    z-index: 5;
}

#TW {
    grid-area: tw;
    margin-left: -5vw;
    z-index: 4;
}

#cat {
    grid-area: cat;
    margin-left: -10vw;
    z-index: 3;
}

#pwa {
    grid-area: pwa;
    margin-left: -15vw;
    z-index: 2;
}

#close {
    grid-area: close;
}

span.paper-clip:after {
    width: 1.1vw;
    height: 2vw;
    content: " ";
    display: block;
    position: absolute;
    right: .2vw;
    top: .5vw;
    border-radius: 1vw;
    border: .2vw solid black;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
span.paper-clip {
    grid-area: clip;
    height: 4vw;
    width: 1.5vw;
    right: 20vw;
    top: 19.75vw;
    border-radius: 1vw;
    border: .2vw solid black;
    display: inline-block;
    position: absolute;
    z-index: 8;
}

#bw {
    grid-area: pic;
    width: 17.5vw;
    height: 22.5vw;
    margin-top: -1.8vw;
    margin-left: -19vw;
    z-index: 7;
    transform: rotate(6deg);
    box-shadow: .5vw .8vw .6vw rgba(104,104,104,0.8);
    padding: 1vw;
    border: 1px solid #BFBFBF;
    background-color: #d1d1d1;
}

#component {
    grid-area: component;
    height: 48vw;
    width: 66.6vw;
    margin: -1.7vw -2vw;
    padding: 2vw 1.7vw 0 2vw;
    background-color: #F8F5E1;
    border-radius: 1vw 1vw 0 0;
    border: 1px solid darkgray;
    z-index: 6;
    box-shadow: var(--shadow);
}

button {
    display: inline-block;
    text-decoration: none;
    background-color: #F8F5E1;
    padding: 1vw 2vw;
    width: 75%;
    height: 4vw;
    border-radius: 1vw 1vw 0 0;
    text-align: center;
    position: relative;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    color: black;
  }


/* Animations */

@keyframes spin {
	0%  {transform: rotate(0deg);}
	10%  {transform: rotate(-25deg);}
	20%  {transform: rotate(47deg);}
	30%  {transform: rotate(-125deg);}
	40%  {transform: rotate(-25deg);}
	50%  {transform: rotate(25deg);}
	60%  {transform: rotate(165deg);}
	70%  {transform: rotate(42deg);}
	80%  {transform: rotate(180deg);}
	90%  {transform: rotate(-300deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin2 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin3 {
	0%  {transform: rotate(0deg);}
	60%  {transform: rotate(165deg);}
	70%  {transform: rotate(42deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin4 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin5 {
	0%  {transform: rotate(0deg);}
	10%  {transform: rotate(-25deg);}
	20%  {transform: rotate(47deg);}
	30%  {transform: rotate(-125deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin6 {
	0%  {transform: rotate(0deg);}
	80%  {transform: rotate(180deg);}
	90%  {transform: rotate(-300deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin7 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(-360deg);}	
}

@keyframes spin8 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}